<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary" *ngIf="game">
    <mat-tab label="Screenshots" *ngIf="game.screenshots.length">
      <img *ngFor="let screenshot of game.screenshots" src="{{ screenshot.image }}" alt="screenshot" class="game-screenshot">
    </mat-tab>
    <mat-tab label="Trailers" *ngIf="game.trailers.length">
      <video controls *ngFor="let trailer of game.trailers" class="game-trailer">
        <source src="{{ trailer.data.max }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>